/* box */
.box {
  display: inline-block;
  position: absolute;
  top: -47px;
  right: 40px;
  color: hsl(229, 7%, 55%);
  background-color: hsl(243, 100%, 93%);
  padding: 12px 25px 10px 19px;
  border-radius: 10px;
  border-bottom-right-radius: unset;
  line-height: 47px;
}

.box::before {
  content: "";
  position: absolute;
  bottom: -21px;
  right: 0;
  border-top: 22px solid hsl(243, 100%, 93%);
  border-left: 23px solid transparent;
}

@media (max-width: 950px) {
  .box {
    border-radius: 10px;
    top: unset;
    right: unset;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .box::before {
    content: none;
  }
}

@media (max-width: 590px) {
  .box {
    width: 55%;
    min-width: 175px;
    max-width: 179px;
    padding-right: 19px;
  }

  .box::before {
    content: none;
  }
}

/* box__text */
.box__text {
  vertical-align: -2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.9px;
}
