/* card */
.card {
  background-color: hsl(228, 56%, 26%);
  padding: 48px;
  border-radius: 10px;
  color: hsl(243, 100%, 93%);
  font-size: 14px;
  box-shadow: 0px 35px 25px 6px rgba(0, 0, 0, 0.09);

  position: relative;
  top: 5px;
}

.card--big-border-radius {
  width: 350px;
  border-top-right-radius: 100px;
  padding: 40px 41px;
}

.card--long-width {
  width: 540px;
  padding: 40px 39px 62px;
}

@media (max-width: 950px) {
  .card {
    top: unset;
  }

  .card--big-border-radius {
    align-self: center;
  }
}

@media (max-width: 590px) {
  .card--long-width {
    text-align: center;
    padding: 32px 31px 76px;
  }

  .card--big-border-radius,
  .card--long-width {
    width: calc(100vw - 50px);
  }
}

/* card__image */
.card__image {
  margin-bottom: 30px;
}

/* card__text */
.card__text {
  margin-bottom: 16px;
  letter-spacing: 0.15px;
}
