@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  font-family: "Raleway", sans-serif;
  background-color: hsl(229, 57%, 11%);
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom -32px center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 590px) {
  body {
    background-image: url(./images/bg-mobile.png);
    background-position: center center;
    background-size: cover;
  }
}

/* ATTRIBUTION */
.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(229, 7%, 55%);

  position: fixed;
  bottom: 20px;
}

.attribution a:link,
.attribution a:visited {
  color: hsl(6, 100%, 80%);

  transition: all 0.3s;
}

.attribution a:hover,
.attribution a:active {
  color: hsl(335, 100%, 65%);
}
